<!-- NAVBAR START -->
<nav class="absolute top-0 left-0 w-full z-50 transition-all duration-300 transform translate-y-0" id="navbar">
    <div id="nav-primary" class="container-custom flex flex-col transition-all duration-300 origin-top">
        <div class="flex justify-between items-stretch">
            <div class="w-25 h-25 flex items-center my-medium">
                <img src="/src/images/Legacy_Health_Growth-removebg.png" alt="OmniCare-logo">
            </div>
            <div class="flex items-center gap-medium pb-huge">
                <div class="flex items-center gap-small">
                    <i class="fa-solid fa-phone-volume text-skin-primary text-2xl"></i>
                    <div>
                        <p class="text-sm font-quicksand">Contact Number</p>
                        <p class="text-sm font-poppins">+8801718-868394</p>
                    </div>
                </div>
                <div class="flex items-center gap-small">
                    <i class="fa-solid fa-envelope text-skin-primary text-2xl"></i>
                    <div>
                        <p class="text-sm font-quicksand">Email Address</p>
                        <p class="text-sm font-poppins">contact@legacyhealthgrowth.com</p>
                    </div>
                </div>
            </div>
            <div class="flex items-stretch pb-huge">
                <div class="flex items-center pr-medium ">
                    <button class="btn-primary">Book Appointment</button>
                </div>
                <div class="w-10 relative overflow-hidden flex items-center justify-center">
                    <div class="w-px h-[150%] bg-skin-primary rotate-20"></div>
                </div>
                <div class="flex items-center gap-medium text-skin-primary">
                    <a href="#" class="hover:text-amber-500 transition-colors">
                        <i class="fa-brands fa-facebook-f text-lg"></i>
                    </a>
                    <a href="#" class="hover:text-amber-500 transition-colors">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>
                    <a href="#" class="hover:text-amber-500 transition-colors">
                        <i class="fa-brands fa-linkedin-in text-lg"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="absolute flex justify-between w-full items-center h-20 mt-25 right-0 z-[-1] overflow-hidden"
            style="filter: drop-shadow(0 20px 25px rgba(0, 0, 0, 0.15));">
            <div id="nav-secondary-bg"
                class="absolute right-0 top-0 h-full w-[70%] bg-skin-primary transition-all duration-300"
                style="clip-path: polygon(0 0, 100% 0, 100% 100%, 35px 100%);"></div>
            <div class="container-custom relative hidden md:flex space-x-8 items-center justify-end h-full">
                <div id="nav-secondary-logo"
                    class="absolute left-0 w-25 h-25 flex items-center my-medium opacity-0 invisible transition-all duration-300">
                    <img src="/src/images/Legacy_Health_Growth-removebg.png" alt="OmniCare-logo">
                </div>
                <a href="#services"
                    class="text-sm font-semibold text-skin-secondary-2 hover:text-skin-secondary-1 transition-colors relative z-10">HOME</a>
                <a href="#about"
                    class="text-sm font-semibold text-skin-secondary-2 hover:text-skin-secondary-1 transition-colors relative z-10">About
                    Us</a>
                <a href="#testimonials"
                    class="text-sm font-semibold text-skin-secondary-2 hover:text-skin-secondary-1 transition-colors relative z-10">Who
                    we help</a>
                <a href="#testimonials"
                    class="group flex items-center gap-1 text-sm font-semibold text-skin-secondary-2 hover:text-skin-secondary-1 transition-colors relative z-10">
                    service
                    <i
                        class="fa-solid fa-chevron-down text-[10px] transition-transform duration-300 group-hover:rotate-180"></i>
                </a>
                <a href="#testimonials"
                    class="text-sm font-semibold text-skin-secondary-2 hover:text-skin-secondary-1 transition-colors relative z-10">Login/SignUp</a>
                <a href="#testimonials"
                    class="text-sm font-semibold text-skin-secondary-2 hover:text-skin-primary-2 transition-colors relative z-10">Download
                    App</a>
            </div>
        </div>
    </div>

</nav>
<div id="progress">
    <span id="progress-value">
        <i class="fa-solid fa-arrow-up text-skin-primary"></i>
    </span>
</div>
<!-- NAVBAR END -->